# ITP DAY 3 18-08-2021

### SETS IN PHYTON

#### PHYTON CONTAINERS
#### UNORDERED SEQUENCE OF MIXED DATA(IMMUTABLE OBJECTS)-SO SET INSIDE SET NOT POSSIBLE
##### DIFF B/W ORDERED AND UNORDER-UNORDER HAVE NO INDEX BUT ORDER HAVE INDEX
#### MUTABLE
#### DO NOT ALLOW DUPLICATES
#### ALLOW SET OPERATION ON DATA

##### CREATING A SET

In [2]:
s={10,30,20,40}
s #sets store elements randomly but not ascending

{10, 20, 30, 40}

##### EMPTY SET

In [3]:
set()
type(set())

set

###### bool() of empty set is always false

##### SET METHODS

#### add elements
#### remove elements

In [4]:
s.add(50)
print(s)

{40, 10, 50, 20, 30}

In [5]:
s.add("abcd")
print(s)

{40, 'abcd', 10, 50, 20, 30}

In [7]:
s.add((1,2,3))
print(s)

{40, 'abcd', 10, (1, 2, 3), 50, 20, 30}

In [8]:
s.add([1,2,3])#we cannot add list inside a set

TypeError: unhashable type: 'list'

#### set updates-take a sequence object as parameter and adds all the elements from the sequence to the set

In [9]:
s.update([6,7])
print(s)#but we can update list inside a set

{6, 7, 40, 'abcd', 10, (1, 2, 3), 50, 20, 30}

In [10]:
s.update('ab')
print(s)

{'a', 6, 7, 40, 'abcd', 10, (1, 2, 3), 50, 20, 'b', 30}

In [11]:
s.update([13,'abc'])
print(s)

{'a', 6, 7, 40, 'abcd', 10, 13, (1, 2, 3), 'abc', 50, 20, 'b', 30}

#### pop()-removes a random element from the set

In [12]:
s.pop()#pop remove last element but not in set,it removes randomly
print(s)

{6, 7, 40, 'abcd', 10, 13, (1, 2, 3), 'abc', 50, 20, 'b', 30}

#### remove()-removes a specific element from the set

In [13]:
s.remove(40)
print(s)

{6, 7, 'abcd', 10, 13, (1, 2, 3), 'abc', 50, 20, 'b', 30}

##### SET STORE IN RANDOM,SET CAN BE SORTED BUT SHOWS IN LIST

### operations on set

##### ITERATION
#### MEMBERSHIP
#### UNION INTERSECTION DIFFERENCE SYMMETRIC DIFFERENCE

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

In [ ]:
s1|s2#union

In [ ]:
s1&s2#intersection

In [15]:
c={"Jane","Sam","George","Dori","Derek"}
t={"Jack","Frank","Cody","Dori","Bill","Maria","Derek"}

##### ENTIRE SET OF PEOPLE

In [23]:
print(c|t)
print(len(c|t))

{'Derek', 'Frank', 'Dori', 'Bill', 'Sam', 'Maria', 'Jane', 'George', 'Cody', 'Jack'}
10

##### BOTH

In [19]:
print(c&t)

{'Derek', 'Dori'}

##### EITHER

In [24]:
print(c^t)

{'Frank', 'Bill', 'Sam', 'Maria', 'Jane', 'George', 'Cody', 'Jack'}

##### ONLY COFFEE

In [25]:
print(c-t)

{'Jane', 'Sam', 'George'}

#### ONLY TEA

In [26]:
print(t-c)

{'Frank', 'Bill', 'Maria', 'Cody', 'Jack'}

#### DISJOINT SET:if two sets have no common elements

In [28]:
c={"Sam","George","Jane"}
t={"Bill","Maria","Frank","Jack","Cody"}
c.isdisjoint(t)

True

##### CHECKING FOR SUBSET

In [30]:
c={"Sam","George","Jane"}
p={"Bill","Maria","Frank","Jack","Cody","Sam","George","Jane"}
c.issubset(p)

True

In [31]:
p.issuperset(c)

True

##### BUILT-IN FUNCTIONS ON  SETS

In [40]:
#len()
#min()
#max()
#sum()
#sorted()
set_a={10,20,30,40,50,20}
print(set_a)

{40, 10, 50, 20, 30}

In [35]:
len(set_a)

5

In [36]:
min(set_a)

10

In [37]:
max(set_a)

50

In [38]:
sorted(set_a)

[10, 20, 30, 40, 50]

In [39]:
sum(set_a)

150

##### wap to print all the vowels in a string

In [42]:
string=input("Enter a string:")
string=set(string.lower())
vowels=set("aeiou")

string & vowels

Enter a string:singappore

{'a', 'e', 'i', 'o'}

In [43]:
string=set(input("Enter a string:"))

vowels=set("aeiou")

string & vowels

Enter a string:singappore

{'a', 'e', 'i', 'o'}

## DICTIONARY

### ARE PHYTON CONTAINERS
### ARE UNORDERED SEQUENCE OF MIXED DATA
### KEY:VALUES
### KEYS ARE ALWAYS UNIQUE AND IMMUTABLE
### VALUES NEED NOT TO BE UNIQUE AND CAN BR OF ANY TYPE
### MUTABLE

#### EMPTY DICTIONARY

In [44]:
empty_dict={}
empty_dict=dict()

#### create adictionary

In [48]:
countries={"India":"INR","USA":"Dollar"}

In [46]:
countries["India"]

'INR'

In [47]:
print(countries.get("japan"))

None

#### ADDING NEW ELEMENT TO DICTIONARY

In [49]:
countries["Japan"]="Yen"
print(countries)

{'India': 'INR', 'USA': 'Dollar', 'Japan': 'Yen'}

#### MODIFY

In [50]:
countries["India"]="Rupees"
print(countries)

{'India': 'Rupees', 'USA': 'Dollar', 'Japan': 'Yen'}

#### add content

In [52]:
new_dict={"Singappore":"SGD","Thailand":"Bhat","Indonesia":"IDR","India":"INR"}
countries.update(new_dict)
print(countries)

{'India': 'INR', 'USA': 'Dollar', 'Japan': 'Yen', 'Singappore': 'SGD', 'Thailand': 'Bhat', 'Indonesia': 'IDR'}

In [53]:
countries.update({"India":{"Capital":"NewDelhi","Curency":"INR"}})
print(countries)

{'India': {'Capital': 'NewDelhi', 'Curency': 'INR'}, 'USA': 'Dollar', 'Japan': 'Yen', 'Singappore': 'SGD', 'Thailand': 'Bhat', 'Indonesia': 'IDR'}

In [54]:
countries["India"]["Capital"]

'NewDelhi'

#### remove element

In [55]:
countries.pop("USA")
print(countries)

{'India': {'Capital': 'NewDelhi', 'Curency': 'INR'}, 'Japan': 'Yen', 'Singappore': 'SGD', 'Thailand': 'Bhat', 'Indonesia': 'IDR'}

In [56]:
countries.popitem()
print(countries)

{'India': {'Capital': 'NewDelhi', 'Curency': 'INR'}, 'Japan': 'Yen', 'Singappore': 'SGD', 'Thailand': 'Bhat'}

#### wap to find capital of germany

In [57]:
europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }
europe["Germany"]["Capital"]

'Berlin'

#### wap to check if country is present or not,if not add the country to the dictionary

In [2]:
countries={"India":"INR","USA":"USD","Japan":"Yen","singappore":"SGD","Thailand":"Bhat","Indonesia":"IDR"}
print(countries)

{'India': 'INR', 'USA': 'USD', 'Japan': 'Yen', 'singappore': 'SGD', 'Thailand': 'Bhat', 'Indonesia': 'IDR'}

In [6]:
country=input("Enter a country name:")
currency=countries.get(country)
if currency:
    print(country,"-",currency)
else:
    currency=input(country + "not Present.Enter The Currency to Add:")
    countries[country]=currency
    print(countries)

Enter a country name:Japan
Japan - Yen

#### creating dictionaries using sequences

#### wap to create a dictionary of 5 elements where keys are roll no starting from 101 and its values are the students names are entered  by user

In [10]:
students={}
for i in range(101,106):
    students[i]=input("Enter a Student Name:")
students

Enter a Student Name:Ram
Enter a Student Name:Lakshman
Enter a Student Name:Rossie
Enter a Student Name:Jasmine
Enter a Student Name:Vaidhei

{101: 'Ram', 102: 'Lakshman', 103: 'Rossie', 104: 'Jasmine', 105: 'Vaidhei'}

#### wap to create a dictionary

In [2]:
names=['j','d','m','s','g']
marks=[70,80,90,100,56]
dict(zip(names,marks))

{'j': 70, 'd': 80, 'm': 90, 's': 100, 'g': 56}

In [16]:
students={'j':70,'d':90,'m':40,'s':50,'g':76}
sorted(students)

['d', 'g', 'j', 'm', 's']

In [ ]:
for name in sorted(students):
    print(name,"-",)

In [12]:
students.keys()

dict_keys([101, 102, 103, 104, 105])

In [13]:
students.items()

dict_items([(101, 'Ram'), (102, 'Lakshman'), (103, 'Rossie'), (104, 'Jasmine'), (105, 'Vaidhei')])

In [15]:
students.values()

dict_values(['Ram', 'Lakshman', 'Rossie', 'Jasmine', 'Vaidhei'])

#### wap to print the name and total marks(percentage) of each students

In [17]:
students={"Jane":[70,65,32],"Drake":[90,76,98],"Mary":[40,55,78],"Sam":[50,87,67],"George":[76,72,89]}

In [18]:
for name,marks in students.items():
    print(name,"-",sum(marks)/3)

Jane - 55.666666666666664
Drake - 88.0
Mary - 57.666666666666664
Sam - 68.0
George - 79.0

In [21]:
students={"Jane":[70,65,32],"Drake":[90,76,98],"Mary":[40,55,78],"Sam":[50,87,67],"George":[76,72,89]}
for name,marks in students.items():
    print(name,"-",round(sum(marks)/3,2))

Jane - 55.67
Drake - 88.0
Mary - 57.67
Sam - 68.0
George - 79.0

### DECISION MAKING

#### WAP TO CHECK IF AGE OF USER IS GREATER THAN 25 AND AND LESS THAN 50

In [22]:
age=int(input("Enter your age:"))
if age>25 and age<25:
    print("Valid")
else:
    print("In-Valid")

Enter your age:25
In-Valid

#### WAP TO CHECK IF ENTERED NO IS EVEN OR ODD

#### if-else

In [23]:
num=int(input("Enter a number:"))
if num%2==0:
    print("Even")
else:
    print("Odd")

Enter a number:5
Odd

### if else as expression not as block

In [24]:
#if-else as expression
num=int(input("Enter a number:"))
var='even' if num%2==0 else "odd"
print(var)

Enter a number:29
odd

In [25]:
num=int(input("Enter a number:"))
print(num,"is an","even" if num%2==0 else "odd","numbber")

Enter a number:36
36 is an even numbber

#### wap to check if a no is positive,if yes then check if it is  divisible by 5

### nested if else

#### ex:Toss a coin and guess the outcome
##### wap to stimulate coin toss and compare the outcome with guess made by user.The program must return "Invalid i/p.if user enter as invalid

In [2]:
guess=input("Enter Your Guess as Heads or Tails:")
import random as r
r.random()

outcome=r.choice(["Heads","Tails"])
print(outcome)

if guess==outcome:
    print("You Won")

else:
    print("You Lost!")

Enter Your Guess as Heads or Tails:Heads
Tails
You Lost!

### random module

In [27]:
import random as r
r.random()

0.8434405760563604

In [28]:
r.randint(1,5)

5

#### WAP TO CHECK IF AGE OF USER IS GREATER THAN 25 AND AND LESS THAN 50

In [14]:
age=input("Enter your age:")

if age.isdigit():
    age=int(age)


    if age>25:
        print("Allowed For Party")
        
    else:
        print("Not Allowed For Party")
    
else:
    print("Enter a Valid Age")

Enter your age:abcd
Enter a Valid Age:

#### nested if else

In [12]:
import random as r
guess=input("Enter Your Guess as Heads or Tails:").lower()

options=["heads","tails"]

if guess in options:
    outcome=r.choice(["heads","tails"])
    print(outcome)

    if guess==outcome:
        print("You Won")

    else:
        print("You Lost!")

else:
    print("Invalid Input")

Enter Your Guess as Heads or Tails:abcd
Invalid Input

#### wap to check if a number is positive,if yes then check if it is divisible by 5 or not

In [26]:
num=int(input("Enter a Number:"))

if num>=0:
    
    if num%5==0:
        print(num,"is Positive and divisible by 5")
        
    else:
        print(num,"Positive and not divisible by 5")    
else:
    print("Negative")

Enter a Number:-10
Negative

#### if elif else

#### wap to check if a number is positive,negatie or zero

In [28]:
num=int(input("Enter a Number:"))

if num>0:
    print("Positive")

elif num<0:
    print("Negative")
    
else:
    print("Zero")

Enter a Number:0
Zero

#### ex: wap 7up and 7 down
#### 1.player enters the game with initial amount as Rs.1000
#### 2.Generate a random Value between 1 to 14 and Store it in a variable "Outcome"
#### 3.if outcome=7 player hits jackpot and wins Rs.1,00,00,000
#### 4.if outcome<7 player looses amount by(outcome*100)
#### 5.if outcomes>7 player earns amount by(outcome*100)
#### 6.printt the final amount with the player

In [31]:
import random as r
amount=1000
outcome=r.randint(1,14)
print(outcome)
if outcome==7:
    amount=100000
elif outcome<7:
    amount-=(outcome*100)
elif outcome>7:
    amount+=(outcome*100)
    print(amount)

6

In [ ]:
amt=1000

outcome=r.randint(1,14)
print("Your Score is:",outcome)

if outcome>7:
    amt+=(outcome*100)
elif outcome<7:
    amt-=(outcome*100)

## LOOPS

### WHILE LOOP

### FOR LOOP

#### WAP TO ACCEPT CHARACTERS FROM USER TILL USER ENTERS "Q".PRINT STRING OF ALL THE CHARACTERS ENTERED BY THE USER

In [32]:
ch=input("Enter a Character:")

while ch!="q":
    print(ch)
    
    ch=input("Enter a Character:")

Enter a Character:a
a
Enter a Character:b
b
Enter a Character:c
c
Enter a Character:d
d
Enter a Character:w
w
Enter a Character:q

In [1]:
ch=""

while ch!="q":
    ch=input("Enter a Character:")
    print(ch)

Enter a Character:a
a
Enter a Character:b
b
Enter a Character:c
c
Enter a Character:d
d
Enter a Character:q
q

In [2]:
ch=""
string=""

while ch!="q":
    ch=input("Enter a Charater:")
    string+=ch
print(string)

Enter a Charater:a
Enter a Charater:b
Enter a Charater:c
Enter a Charater:d
Enter a Charater:e
Enter a Charater:f
Enter a Charater:g
Enter a Charater:h
Enter a Charater:i
Enter a Charater:j
Enter a Charater:k
Enter a Charater:l
Enter a Charater:m
Enter a Charater:n
Enter a Charater:o
Enter a Charater:p
Enter a Charater:q
abcdefghijklmnopq

In [3]:
ch=""
string=""

while ch!="q":
    ch=input("Enter a Charater:")
    string+=ch
print(string)

Enter a Charater:q
q

##### BREAK AND CONTINUE

##### modify the program to ignore vowels

In [4]:
ch=""
string=""

while ch!="q":
    ch=input("Enter a Charater:")
    if ch in "aeiou":
        continue#continue-skip the iteration
        
    string+=ch
    
print(string)

Enter a Charater:a
Enter a Charater:b
Enter a Charater:c
Enter a Charater:d
Enter a Charater:e
Enter a Charater:f
Enter a Charater:i
Enter a Charater:o
Enter a Charater:u
Enter a Charater:q
bcdfq

In [6]:
ch=""
string=""

while ch!="q":
    ch=input("Enter a Charater:")
    if ch in "aeiou":
        string+=ch
    
print(string)

Enter a Charater:a
Enter a Charater:b
Enter a Charater:c
Enter a Charater:d
Enter a Charater:e
Enter a Charater:f
Enter a Charater:g
Enter a Charater:h
Enter a Charater:i
Enter a Charater:o
Enter a Charater:u
Enter a Charater:q
aeiou

In [9]:
ch=""
string=""

while True:#denotes an infinite loop,it can be terminated only by using break
    
    ch=input("Enter a Charater:")
    
    if ch in "q":
        break#terminates the loop
    
    elif ch in "aeiou":
        continue
    
        
    string+=ch #this line will not get executed if break occurs and hence q is not concataneted
    
print(string)

Enter a Charater:a
Enter a Charater:b
Enter a Charater:c
Enter a Charater:d
Enter a Charater:e
Enter a Charater:q
bcd

In [11]:
ch=""
string=""

while True:#denotes an infinite loop,it can be terminated only by using break
    
    ch=input("Enter a Charater:")
    if ch in "aeiou":
        continue
    
    if ch=="q":
        break
    
    string+=ch 
    
print(string)

Enter a Charater:b
Enter a Charater:c
Enter a Charater:d
Enter a Charater:q
bcd

## FOR LOOP

In [12]:
range(1,11)

range(1, 11)

In [16]:
for i in range(1,11):
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,

In [17]:
for i in range(11):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,10,

In [19]:
for i in range(1,50,3):
    print(i,end=",")

1,4,7,10,13,16,19,22,25,28,31,34,37,40,43,46,49,

In [20]:
for i in range(1,50,5):
    print(i,end=",")

1,6,11,16,21,26,31,36,41,46,

In [21]:
for i in range(50,0,-1):
    print(i,end=",")

50,49,48,47,46,45,44,43,42,41,40,39,38,37,36,35,34,33,32,31,30,29,28,27,26,25,24,23,22,21,20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,

In [22]:
for i in range(50,0,-5):
    print(i)

50
45
40
35
30
25
20
15
10
5

#### wap to take word as an input and print all the characters

In [23]:
word=input("Enter a name:")
for i in word:
    print(i)

Enter a name:Ram
R
a
m

#### wap to print product as

### LIST COMPREHENSION

In [27]:
for i in range(5):
    print(i)

0
1
2
3
4

In [28]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [29]:
["Ram" for i in range(5)]

['Ram', 'Ram', 'Ram', 'Ram', 'Ram']

In [30]:
a=[]
for i in range(5):
    a.append("Ram")
a

['Ram', 'Ram', 'Ram', 'Ram', 'Ram']

In [31]:
for i in range(1,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [32]:
[i for i in range(51) if i%2==0]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

#### wap to accept an integer from user and print a table for given number

In [3]:
total=0
for i in range(1,11):
    total+=3
    
    print('3 X',i,"=",total)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [2]:
n=int(input("Enter a Number:"))

for i in range(1,11):
    print(n,"X",i,"=",n*i)

Enter a Number:3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30