<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b>Inclass - Lab<br> (Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content
1. **[User-Define Function](#User_Define)**
2. **[Lambda Functions](#Lambda_Functions)**
    - 2.1 [Map Function](#Map_Function)
    - 2.2 [Filter Function](#Filter_Function)
    - 2.3 [Reduce Function](#Reduce_Function)

### Let's begin with some hands-on practice exercises

<a id='User_Define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [1]:
# Write your code here
my_list = [15, 78, 10, 45, 89] #global variable
def swap(l):
    c=l[-1]
    l[-1]=l[0]
    l[0]=c
    return(l)
s=swap(my_list)#local variable
print("my_list=",s)

my_list= [89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# Write your code here
a=1204 #global variable
b=344536
def add(a,b):
    c=a+b
    return c

x=add(a,b) #local variable
print(x)

345740

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# Write your code here
def even_odd(num):#function definition
    if num%2==0:
        return "even"
    else:
        return "odd"

num1=int(input("Enter a number to check if its even or odd:"))
even_odd(num1)

Enter a number to check if its even or odd:33

'odd'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
# Write your code here
num=int(input("Enter A No:"))
def factorial(num):
    pr=1
    for i in range(1,num+1):
        pr*=i
    return(pr)
print(factorial(num))

Enter A No:5
120

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
def items(a,b,c):
    d=[]
    d.append(a)
    d.append(b)
    d.append(c)
    return d
l1=items(1,2,3)
print(l1)

[1, 2, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6.  Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# Write your code here
a=input("Enter String1:").lower()
b=input("Enter String2:").lower()
def same(string1,string2):
    if string1[0]==string2[0]:
        return "The Two Words Starts With Same Character"
    else:
        return "The Two Words Don't Starts With Same Character"
print(same(a,b))

Enter String1:dfg
Enter String2:dfa
The Two Words Starts With Same Character

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
# Write your code here

def checkvowel(x):
    for i in x:
        
        if i in 'aeiou':
            return "has"
    else:
        return "Do not Contain a Vowel"
a=input("Enter A String:").lower()
print("Entered String",checkvowel(a),"Vowels")

Enter A String:ash
Entered String has Vowels

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [8]:
# Write your code here
l = [1,2,3,3,11,34,3,3,4,5]
def unique(l):
    return set(l)
print(list(unique(l)))

[1, 2, 3, 34, 4, 5, 11]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>
string2 = 'apple'

In [9]:
# Write your code here
string1 = 'Angel'
string2 = 'apple'
def common(x,y):
    s1=set(x.lower())
    s2=set(y.lower())
    return list(s1&s2)
print("Common Characters are:",common(string1,string2))

Common Characters are: ['a', 'e', 'l']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [13]:
# Write your code here
num1= 15
num2= 4
def calculator(a,b):
    return a+b,a*b,a-b#return as tuple
x,y,z=calculator(num1,num2)
print(num1,num2)
print("Sum of 2 No's is:",x)
print("Multiplication of 2 No's is",y)
print("Difference of 2 No's is",z)

15 4
Sum of 2 No's is: 19
Multiplication of 2 No's is 60
Difference of 2 No's is 11

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [14]:
# Write your code here
my_list = [34, 34, 55, 2, 56, 45]
def add(list1):
    sum1=0
    for i in list1:
        sum1+=i
    return(sum1)
print(add(my_list))

226

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
# Write your code here
minimum=lambda a,b: str(a)+" " + 'is Minimum' if a<b else str(b)+' is Minimum'
minimum(34,78)

'34 is Minimum'

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [19]:
# Write your code here
number = (11, 21, 30, 34)
list(map(lambda i:i**2,number))#or i*i #or tuple(map(lambda ))

[121, 441, 900, 1156]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [20]:
# Write your code here
sentence = 'Python for Data Science'
list(map(lambda a:len(a),sentence.split()))

[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [21]:
# Write your code here
numbers = [ 74, 85, 14, 23 ]
list(map(lambda i:i%5,numbers))

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [22]:
# Write your code here
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]
print(list(map((lambda a,b:a+str(b)),list1,list2)))

['I11', 'felt22', 'happy33', 'because44', 'I55', 'saw66', 'the77', 'others88', 'were99']

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [23]:
# Write your code here
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']
lst=[1,3,2,6,7,9]
list(filter(lambda a:a in arr2,arr1))

['t', 't', 'o', 'i']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [24]:
# Write your code here
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
list(filter(lambda c:c%2!=0,numbers))

[21, 23, 443, 355, 743, 823, 1241, 3673, 37, 7]

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 100<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [25]:
# Write your code here


from functools import reduce
l=list(range(1,101))
reduce(lambda x,y:x+y,l)

5050

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [26]:
# Write your code here
l= [47,11,42,102,13]


from functools import reduce
reduce(lambda a,b:a if a>b else b,l)

102