# ITP-INTRODUCTION TO PROGRAMMING

## DAY 1 CLASS-DEFINING THE DATA AND USING THEM

#### PHYTON VS JUPYTER NOTEBOOK

#### PHYTON-PROGRAMMING IS A LANGUAGE(NORMAL LITERATURE USED FOR COMMUNICATION-TO COMMUNICATE/TELL WITH THE COMPUTER TO PERFORM A CERTAIN TASK)-USES:MORE LIBRARY/FEATURES/SUPPORT WHICH CAN BE USED/DEVELOPED FOR DATA ANALYSIS/MACHINE LEARNING

#### JUPYTER NOTEBOOK-PLACE TO PERFORM THE TASK WHY?MORE TASK CAN BE DONE WHICH IS MOST EASY TO DO THE TASK

#### ANACONDA-is an DISTRIBUTER which has all required ones

### PSEUDOCODE-STEP BY STEP,STEPS TO BE FOLLOWED

In [ ]:
#EX1:ADDITION OF TWO NUMBERS
#STEP1:TAKE 2 NO'S AS AN INPUT FROM USER AS A AND B
#STEP2:ADD 2 N0'S CALCULATE C=A+B
#STEP3: PRINT THE ADDITION "C"

In [ ]:
#EX2:CALCULATE BMI WHEN WEIGHT AND HEIGHT IS ENTERED AS INPUT
#STEP1:TAKE HEIGHT IN M AND WEIGHT IN KG AS INPUT FROM USER AS WEIGHT AND HEIGHT
#STEP2:BMI=WEIGHT/(HEIGHT^2)
#STEP3:PRINT BMI

In [ ]:
#EX3:EVEN OR ODD BY %-RETURNS REMAINDER OF DIVISION
#STEP1:TAKE A NO AS USER INPUT AS NUM
#STEP2:CHECK IF NUM%2 ==0
#STEP3:PRINT 'EVEN'
#STEP4:ELSE PRINT 'ODD'

In [ ]:
#EX4:CHECK IF ENTERED CHARACTER IS AVOWEL OR NOT
#STEP1:TAKE A CHARACTER AS INPUT FROM USER AS CH
#STEP2:CHECK IF CH IS EITHER OF "aeiou"
#STEP3:THEN PRINT VOWEL
#STEP4:ELSE PRINT CONSONANT

In [ ]:
#EX5:PRINT ADDITION OF FIRST 5 NATURAL NO
#STEP1:INITIALIZE TOTAL =0 TO STORE THE SUMMATION
#STEP2:INITIALIZE NUM=1 TO STORE THE GENERATED NUMBERS
#STEP3:CALCULATE TOTAL=TOTAL+NUM
#STEP4:INCREMENT NUM BY 1(NUM=NUM+1)
#STEP5:IF NUM=5
#STEP6:PRINT TOTAL
#STEP 7:ELSE REPEAT STEPS 3 TO 6

## DATA TYPES IN PYTHON
### 1.NUMERIC-INT,FLOAT,COMPLEX
### 2.STRING
### 3.BOOLEAN

## PYTHON CONTAINERS

### CONTAINERS ARE ANY OBJECT THAT HOLD AN ARBITARY NUMBER OF OTHER OBJECTS.GENERALLY CONTAINERS PROVIDE A WAY TO ACESS THE CONTAINED OBJECT AND TO ITERATE OVER THEM
#### EXAMPLE OF BUILT-IN CONTAINERS:TUPLES,LIST,SETS,DICTIONARY

In [ ]:
[1,2,3,4,'ABC'] #LIST[]-any type of Element

In [ ]:
(1,2,3,4) #TUPLE()

In [ ]:
{2,'S',3,5,5} #SET{}-ELIMINATE THE DUPLICATES

In [ ]:
{1:'JANE',2:'GEORGE',3:'SAM'} #DICTIONARY{1:'',2:'',}

# VARIABLES IN PYTHON 
#### A PYTHON VARIABLE PONTS TO A RESERVED MEMORY LOCATION
#### DATA OR OBJECTS ARE STORED IN THESE MEMORIES
#### VARIABLES CAN BE DECLARED BY ANY NAME OR EVEN ALPHABETS

### DEFINE VARIABLE NAME AND ASSIGN VALUE

In [1]:
name='Jack'
print("welcome",name)

welcome Jack

In [ ]:
a=True
print(type(a))

In [ ]:
a=10
print(type(a))

In [ ]:
a=10.5
print()

In [ ]:
a="abcd"
print(type(a))

In [2]:
l=['a','b','c']
print(type(l))

<class 'list'>

##### ex1: wap take a name of user  as input and print a welcome message

In [ ]:
name=input("ENTER YOUR NAME:-")
print("WELCOME",name)

#### ex2:wap take two numbers from user and print their sum

In [ ]:
a=int(input('Enter The First Number:'))
b=int(input('Enter The Second Number:'))
c=a+b
print("The Addition of Two numbers is:",c)

### DATA CONVERSION

#### EXPLICIT CONVERSION

In [ ]:
a='10'
b=5
c=int(a)+b
print(c)

#### INT CONVERSION

In [ ]:
x='10'
int(x)

In [3]:
x=True
print(int(x))
print(x)

1
True

In [ ]:
x=False
int(x)

In [ ]:
x=10.18
int(x)

#### STRING CONVERSION

In [ ]:
x=10
str(x)

In [4]:
l=[1,2,3,4,5]
str(l)

'[1, 2, 3, 4, 5]'

#### BOOLEAN CONVERSION

In [ ]:
x=0.0
bool(x)

In [ ]:
x=10
bool(x)

In [5]:
x="True"
bool(x)

True

In [6]:
x='false'
bool(x) #bool return any above 0 as true

True

## OPERATORS:-

### ARITHMETIC OPERATORS:-

In [8]:
a=10
b=7
c=a+b
c

17

In [9]:
d=a-b
d

3

In [10]:
e=a*b
e

70

In [11]:
f=a/b
f

1.4285714285714286

In [12]:
g=a//b
g

1

In [ ]:
h=a**b
h

In [13]:
i=a%b
i

3

### EXCERSISES:-

#### wap to calculate BMI of a person(take input for height and weight from user)

In [ ]:
h=float(input('ENTER YOUR HEIGHT IN METERS:'))
print(h)
w=float(input('ENTER YOUR WEIGHT IN KG:'))
print(w)
bmi=round(w/(h**2),2)
print('BMI:',bmi)

#### wap to calculate SI when initial amount,rate of interest and number of years given as input.Jane deceides  to invest Rs.55,000 at rate of interest of 6.6%.what will be her maturity amount at end of 5years?

In [ ]:
p=float(input("ENTER THE AMOUNT:"))
r=float(input("ENTER THE RATE OF INTEREST:"))
n=int(input("ENTER THE NO.OF YEARS TO BE INVESTED:"))
si=(p*n*r)/100
print("THE RATE OF SIMPLE INTEREST AT THE END OF 5 YEARS IS:",si)
amount=si+p
print("TOTAL AMOUNT AT THE END OF 5 YEARS:",amount)

#### wap to accept hours and rate per hour from user and compute gross pay

In [ ]:
h=float(input('ENTER NO.OF HOURS:'))
rph=float(input('ENTER RATE PER HOUR:'))
gp=h*rph
print("GROSS PAY:",gp)

In [ ]:
h=float(input('ENTER N0.OF HOURS:'))
rph=int(input('ENTER RATE PER HOUR:'))
gp=h*rph
print("GROSS PAY:",gp)

### RELATIONAL OPERATORS:-

In [ ]:
a=10
b=7
print(a<b)

In [ ]:
print(a>b)

In [ ]:
print(a<=b)

In [ ]:
print(a>=b)

In [ ]:
print(a==b)

In [ ]:
print(a!=b)

#### wap to take age as input and write condition to check if the user is an adult(o/p must be boolean value)

In [ ]:
age=int(input("ENTER YOUE AGE:"))
age>=18

In [15]:
age=int(input("ENTER YOUE AGE:"))
if age>=18:
    print(bool("ADULT"))
else:
    print("NOT AN ADULT")

ENTER YOUE AGE:23
True 23

#### wap to take a number as i/p and write condition to check if the number is divisible by 5.o/p must be boolean value

In [17]:
n=int(input('ENTER A NUMBER:'))
if n%5==0:
    print(bool(n),n,'is divisible by 5')
else:
    print(n,'is not divisible by 5')

ENTER A NUMBER:11
11 is not divisible by 5

### LOGICAL OPERATOR:-

#### wap to take number as input and write accondition if the number is greater than 10 and divisible by 5 o/p must be boolean

In [ ]:
n=int(input("enter a number:"))
(n%5==0) and (n>10)

#### wap to take number as input and write accondition if the number is greater than 10 or divisible by 5 o/p must be boolean

In [ ]:
n=int(input("enter a number:"))
(n%5==0) or (n>10)

#### not(True) and not(False)

In [ ]:
#not(True)
n=int(input('ENTER A NUMBER:'))
not(n%5==0)

In [ ]:
#not(false) by implicit conversion
print(10*(5-5))
print(not(10*(5-5)))#implicit conversion

### ASSIGNMENT OPERATOR-ACT AS A COMPOUND:-

In [ ]:
a=10
a=a+20
print(a)

In [ ]:
b=10
b+=20
print(b)

In [ ]:
c=10
c*=((2/3)+4)
print(c)

### MEMBERSHIP OPERATORS:-

#### CHECK WHETHER A VALUE IS A MEMBER OF A SEQUENCE

#### EX:

In [ ]:
'a' in 'abcd'

In [ ]:
"a" not in "abcd"

#### SEQUENCE OBJECT :
A SEQUENCE IS DEFINED AS A CALCULATION OF ARBITARY NUMBER OF ELEMENTS.THE SEQUENCE MAY BE A LIST,STRING,TUPLE,DICTIONARY

#### in-THE in OPERATOR IS USED TO CHECK IF A VALUE EXISTS IN ANY SEQUENCE OBJECT OR NOT
#### not in-A not in OPERATOR WORKS IN OPPOSITE WAY TO AN OPERATOR.A 'not in' evaluates to True if a value is not found in the specified sequence object.Else it returns a False.

### MEMBERSHIP OPERATOR NOT APPLICABLE:TO INTEGER,FLOAT

### MEMBERSHIP OPERATOR APPLICABLE:TO CONTAINERS

#### EXAMPLES:

#### wap to take radius of circle as i/p and print the area of circle and circumference of circle

In [ ]:
r=float(input('ENTER THE RADIUS OF THE CIRCLE:'))
a=3.141*(r**2)
c=2*3.141*r
print("THE AREA AND CIRCUMFERENCE IS",a,"and",c)

#### wap to calculate the hypoteneous of a right angled triangle when sides are given

In [ ]:
import math as m
h=int(input('ENTER THE HEIGHT OF THE TRIANGLE:'))
b=int(input('ENTER THE BASE OF THE TRIANGLE:'))
hyp=round(m.sqrt((h**2) + (b**2)),2)
print('THE HYPOTENEOUS OF A RIGHT ANGLED TRIANGLE IS',hyp)

In [18]:
h=int(input('ENTER THE HEIGHT OF THE TRIANGLE:'))
b=int(input('ENTER THE BASE OF THE TRIANGLE:'))
hyp=round((((h**2) + (b**2)))**0.5,2)
print('THE HYPOTENEOUS OF A RIGHT ANGLED TRIANGLE IS',hyp)

ENTER THE HEIGHT OF THE TRIANGLE:15
ENTER THE BASE OF THE TRIANGLE:10
THE HYPOTENEOUS OF A RIGHT ANGLED TRIANGLE IS 18.03

### CONDITIONAL STATEMENT:

#### wap to check if a no is even or odd

In [ ]:
n=int(input("ENTER A NUMBER:"))
if n%2==0:
    print(n,"is even")
else:
    print(n,"is odd")

#### wap to check if entered name is present in the mentioned list or not

In [ ]:
names=["Jane","George","Sam"]
name=input("Enter your name:")
if name in names:
    print("Present")
else:
    print("Absent")

#### wap to check if entered character is a vowel or not

In [19]:

ch=input("Enter Your Character:")
if ch in "aeiou":
    print(ch,"Character is a vowel")
else:
    print(ch,"Character is not a vowel")

Enter Your Character:ram
ram Character is not a vowel

In [20]:
vowel=['a','e','i','o','u']
ch=input("Enter Your Character:")
if ch in vowel:
    print(ch,"is a vowel")
else:
    print(ch,"is not a vowel")

Enter Your Character:ram
ram is not a vowel

## ITERATION OVER A SEQUENCE

#### ex:wap to sum elements in list numbers=[2,1,5,3,7,4]

In [5]:
numbers=[2,1,5,3,7,4]
total=0
for i in numbers:
    total+=i
    print(i,"-",total)

2 - 2
1 - 3
5 - 8
3 - 11
7 - 18
4 - 22

In [6]:
number=[2,1,5,3,7,4]
total=0
for i in numbers:
    total+=i
    print(total)

2
3
8
11
18
22

In [7]:
numbers=[2,1,5,3,7,4]
total=0
for i in numbers:
    total+=i
print(total)

22

#### wap to iterate over a string entered by user and print all vowels in the string

In [2]:
string=input('ENTER A STRING:')
for ch in string:
    print(ch)

ENTER A STRING:singapore
s
i
n
g
a
p
o
r
e

In [21]:
string=input('Enter a string:')
for ch in string:
    print(ch)

Enter a string:ramkumar
r
a
m
k
u
m
a
r

In [1]:
string='singapore'

for ch in string:
    if ch in 'aeiou':
        print(ch)

i
a
o
e

#### wap to print product of first 10 natural numbers

In [3]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
numbers=[1,2,3,4,5,6,7,8,9,10]
total=1
for i in numbers:
    total*=i
    print(total)

1
2
6
24
120
720
5040
40320
362880
3628800

In [9]:
numbers=[1,2,3,4,5,6,7,8,9,10]
total=1
for i in numbers:
    total*=i
print(total)

3628800

#### range function

In [10]:
range(1,10)

range(1, 10)

In [13]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
5 in range(1,11)

True

In [15]:
total=1
for i in range(1,11):
    total*=i
print(total)

3628800

#### wap to print product of first 100 natural numbers

In [16]:
total=1
for i in range(1,101):
    total*=i
print(total)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

#### wap to print sum of first 100 natural numbers

In [17]:
total=0
for i in range(1,101):
    total+=i
print(total)

5050

#### wap to print sum of all even numbers between 1 to 50

In [19]:
total=0
for i in range(1,51):
    if i % 2==0:
        total+=i
print(total)

650

In [20]:
total=0
for i in range(1,51):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50