<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Conditional Statements](#cond)**
2. **[Python Flow Control](#flow_control)**
3. **[List Comprehension](#lc)**

<a id="cond"> </a>
## 1. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
num=int(input("Enter a No:"))
if num%7==0:
    print(num,"The Entered Number is multiple of 7 ")
else:
    print(num,"The Entered Number is not Multiple of 7")

Enter a No:49
49 The Entered Number is multiple of 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a code to print the maximum of two numbers (use if-else)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# type your code here
num1=int(input("Enter Number1:"))
num2=int(input("Enter Number2:"))
if num1>num2:
    print(num1,"is maximum of Two Numbers")
else:
    print(num2,"is maximum of Two Numbers")

Enter Number1:18
Enter Number2:9
18 is maximum of Two Numbers

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type your code here
num=int(input("Enter a Number:"))
if num>0:
    print(num,"Entered Number is positive")
elif num<0:
    print(num,"Entered Number is Negative")
else:
    print(num,"Entered Number is zero")

Enter a Number:9
9 Entered Number is positive

### Let's begin with some hands-on practice exercises

<a id= "flow_control"> </a>
## 2. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a code to print table of 5 using assignment operand +=.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# type your code here
total=0
for i in range(1,11):
    total+=5
    
    print('5X',i,"=",total)

5X 1 = 5
5X 2 = 10
5X 3 = 15
5X 4 = 20
5X 5 = 25
5X 6 = 30
5X 7 = 35
5X 8 = 40
5X 9 = 45
5X 10 = 50

In [5]:
for i in range(1,11):
    print("5X",i,"=",i*5)

5X 1 = 5
5X 2 = 10
5X 3 = 15
5X 4 = 20
5X 5 = 25
5X 6 = 30
5X 7 = 35
5X 8 = 40
5X 9 = 45
5X 10 = 50

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
# type your code here  
a=0
b=1
total=0
count=0
while count<10:
    print(a)
    total=a+b
    a=b
    b=total
    count+=1

0
1
1
2
3
5
8
13
21
34

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether a number is greater than the other using if statement (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# type your code here   
num1=int(input("Enter No1:"))
num2=int(input("Enter No2:"))
if num1>num2:
    print(num1,"is greater than","",num2)
else:
    print(num1,"is not greater than","",num2)

Enter No1:18
Enter No2:9
18 is greater than  9

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a code to check whether a number is divisible by 7 or not (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
# type your code here
num=int(input("Enter a No:"))
if num%7==0:
    print(num,"The Entered Number is divisible by 7 ")
else:
    print(num,"The Entered Number is not divisible by 7")

Enter a No:18
18 The Entered Number is not divisible by 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a code to find factorial of a number (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
# type your code here
import math as m
num=int(input("Enter A Number:"))
if num<0:
    print("Factorial Cannot be calculated For non positive Numbers")
    
    
elif num==0 or num==1:
    print("Factorial is 1")
    
else:
    print("Factorial of The Entered Number is:",m.factorial(num))

Enter A Number:5
Factorial of The Entered Number is: 120

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
# type your code here
num=int(input('ENTER A NO:'))

if num>1:
    for i in range(2,num):
        if num%i==0:
            print("NOT A PRIME")
            break
    else:
        print("The Entered No is a PRIME NUMBER")
else:
    print("ENTER A NO GREATER THAN 1!")

ENTER A NO:5
The Entered No is a PRIME NUMBER

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [21]:
# type your code here
num1=int(input("Enter No1:"))
num2=int(input("Enter No2:"))
sum_of_factor_num1=0
sum_of_factor_num2=0

for i in range(1,num1):
    if num1%i==0:
        sum_of_factor_num1+=i
        
for j in range(1,num2):
    if num2%j==0:
        sum_of_factor_num2+=j

if sum_of_factor_num1==num2 and sum_of_factor_num2==num1:
    print("Both Are Amicable ")

else:
    print("Both Are Not Amicable")

Enter No1:220
Enter No2:284
Both Are Amicable

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [25]:
# type your code here
string=input("Enter a string:")
s1=''
for i in string:
    s1=i+s1
    
print(s1)

Enter a string:ramkumar
ramukmar

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Write a code to find the average of given numbers (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [31]:
# type your code here
num=input("Enter Numbers by giving space after every number:").split()#split() can convert into list

total=0

for i in num:
    total=total+int(i)
    
print("Average is",total/len(num))

Enter Numbers by giving space after every number:100 100 100
Average is 100.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to find the area of a circle for a given radius (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [38]:
# type your code here
r=float(input("Enter Radius of the Circle:"))
a=(22/7)*(r**2)
print("Area of the Circle is",round(a,2))

Enter Radius of the Circle:1.5
Area of the Circle is 7.07

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [39]:
# type your code here
p=float(input("Enter The Principle:"))
n=float(input("Enter No.of Years:"))
r=float(input("Enter The Rate Of Interest:"))
si=(p*n*r)/100
print("Simple Interest for",p,"at Rate of Interest",r,"in the duration",n,"is:",si)

Enter The Principle:100000
Enter No.of Years:2
Enter The Rate Of Interest:6
Simple Interest for 100000.0 at Rate of Interest 6.0 in the duration 2.0 is: 12000.0

<a id= "lc"> </a>
## 3. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Use list comprehension to obtain the squre root of first 10 natural numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [43]:
# type your code here
[round(i**0.5,2) for i in range(11)]

[0.0, 1.0, 1.41, 1.73, 2.0, 2.24, 2.45, 2.65, 2.83, 3.0, 3.16]

In [46]:
import math
[round(math.sqrt(i),2) for i in range(11)]

[0.0, 1.0, 1.41, 1.73, 2.0, 2.24, 2.45, 2.65, 2.83, 3.0, 3.16]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [47]:
# type your code here
vowels=['a','e','i','o','u']
s=input("Enter a String:").lower()
[i for i in s if i in vowels]

Enter a String:Ramkumar

['a', 'u', 'a']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Create a dictionary and access it values using a condition on its key. The data is given below. Let the condidtion on the key is that it should be a even number.</b>
                </font>
            </div>
       </td>
    </tr>
</table>

<table>
<tr>
    <th>Key</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td> 
    <td>5</td> 
</tr>
<tr>
    <th>Name</th>
    <td>Aman</td>
    <td>Mohit</td>
    <td>Guari</td>
    <td>Imran</td>
    <td>Roma</td
     </tr>
<tr>
    <th>Marks</th>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>24</td>
    <td>27</td>
   </tr>
</table>

In [52]:
# type your code here
d={1:["Aman",24],
  2:["Mohit",25],
    3:["Guari",26],
   4:["Imran",24],
   5:["Roma",27]
    }
d.keys()
{i:j for i,j in d.items() if i%2==0}

{2: ['Mohit', 25], 4: ['Imran', 24]}

In [54]:
d.items()

dict_items([(1, ['Aman', 24]), (2, ['Mohit', 25]), (3, ['Guari', 26]), (4, ['Imran', 24]), (5, ['Roma', 27])])

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Use list comprehension to find even and odd numbers from first 20 whole numbers.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [55]:
# type your code here
[i for i in range(0,21) if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [57]:
[i for i in range(0,21) if i%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Use list comprehension to print numbers divisible  by 2 and 3 in between 1 and 100. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [60]:
# type your code here
[i for i in range(1,101)  if i%2==0 and i%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Use list comprehension to create a dictionary such that its keys are numbers from 1 to 10 and values are the corresponding to that key are its cube.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Use list comprehension to extract numbers from a string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
string=input("Enter a String:")
[int(ch) for ch in string if ch.isdigit()]

Enter a String:abcdef123456ghijk789

[1, 2, 3, 4, 5, 6, 7, 8, 9]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Use list comprehension to print table of 11 to 20 as shown below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
<tr>
    <td>11</td><td>22</td><td>33</td><td>44</td><td>55</td><td>66</td><td>77</td><td>88</td><td>99</td><td>110</td> 
</tr>
    
<tr>
    <td>12</td><td>24</td><td>36</td><td>48</td><td>60</td><td>72</td><td>84</td><td>96</td><td>108</td><td>120</td> 
</tr>

<tr>
    <td>13</td><td>36</td><td>39</td><td>52</td><td>65</td><td>78</td><td>91</td><td>104</td><td>117</td><td>130</td> 
</tr> 

<tr>
     <td>14</td><td>28</td><td>42</td><td>56</td><td>70</td> <td>84</td><td>98</td><td>112</td><td>126</td><td>140</td> 
</tr>

<tr>
     <td>15</td><td>30</td><td>45</td><td>60</td><td>75</td><td>90</td><td>105</td><td>120</td><td>135</td><td>150</td> 
</tr>

<tr>
     <td>16</td><td>32</td><td>48</td><td>64</td><td>80</td><td>96</td><td>112</td><td>128</td><td>144</td><td>160</td> 
</tr> 

<tr>
     <td>17</td><td>34</td><td>51</td><td>68</td><td>85</td><td>102</td><td>119</td><td>136</td><td>153</td><td>170</td> 
</tr> 

<tr>
     <td>18</td><td>36</td><td>54</td><td>72</td><td>90</td> <td>108</td><td>126</td><td>144</td><td>162</td><td>180</td> 
</tr>

<tr>
 <td>19</td><td>38</td><td>57</td><td>76</td><td>95</td><td>114</td><td>133</td><td>152</td><td>171</td><td>190</td> 
</tr>

<tr>
     <td>20</td><td>40</td><td>60</td><td>80</td><td>100</td><td>120</td><td>140</td><td>160</td><td>180</td><td>200</td> 
<tr>    
    
</table>

In [4]:
# type your code here
[[i*j for j in range(1,11)] for i in range(11,21)]

[[11, 22, 33, 44, 55, 66, 77, 88, 99, 110],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190],
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Use list comprehension to find transpose of the matrix given below.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>7</td>
        <td>8</td>
    </tr>
    </table>

In [8]:
# type your code here
mat=[
    [1,2],
    [3,4],
    [5,6],
    [7,8]
]

print(mat)
print([ [j[i] for j in mat] for i in range(2)])

[[1, 2], [3, 4], [5, 6], [7, 8]]
[[1, 3, 5, 7], [2, 4, 6, 8]]