<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Let's begin with some hands-on practice exercises**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to print the following pattern (use for loop)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

                                            A  
                                            B C  
                                            D E F  
                                            G H I J  
                                            K L M N O  
                                            P Q R S T U

In [20]:
# type your code here
k=65#ascii value of "A"
for i in range(0,7):#outer for loop for rows
    for j in range(0,i+1):#inner for loops for column
        print(chr(k),end=" ")
        k=k+1
        if k==91:
            break
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z

In [3]:
a=65#ascii value of "A"
for i in range(0,6):
    for j in range(0,i+1):
        c=chr(a)
        print(c,end=' ')
        a=a+1
        
    print("  ")

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [4]:
a=65#ascii value of "A"
for i in range(0,6):
    for j in range(0,i+1):
        c=chr(a)
        print(c,end=' ')
        a=a+1

A B C D E F G H I J K L M N O P Q R S T U

In [6]:

for i in range(1,6):
    for j in range(1,i+1):
        print('*',end=' ')
       
    print('\n')

*

* *

* * *

* * * *

* * * * *

In [9]:
for i in range(0,6):
    for j in range(1,i+1):
        print('*',end=' ')
       
    print('\n')

*

* *

* * *

* * * *

* * * * *

In [13]:
for i in range(1,6):
    for j in range(1,6):
        print('*',end=' ')
       
    print('\n')

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *

In [12]:
for i in range(1,5):
    for j in range(1,5):
        if i==0 and j==3:
            print('*')

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to print tables from 2 to a user provided range (use for loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
# type your code here

num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
    print(num,"X",i,"=",num * i)

Enter the number: 2
Multiplication Table of 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Consider the given two tuples. Divide corresponding elemets of two tuples and print the result as tuple (use zip())</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

   **The original tuple 1 : (10, 4, 6, 9)**

   **The original tuple 2 : (5, 2, 3, 3)**

   **Output: (2, 2, 2, 3)**

In [6]:
# type your code here
tuple1=(10, 4, 6, 9)
tuple2=(5, 2, 3, 3)
list(zip(tuple1,tuple2))
for i,j in zip(tuple1,tuple2):
    print(int(i/j))

2
2
2
3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Use list comprehension to find words whose length is less than 5 from the given multi-dimensional list</b>
                    <br>
                </font>
            </div>
        </td>
    </tr>
</table>

**astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']] **

In [31]:
# type your code here
astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']]
  
a=[val for sublist in astro for val in sublist if len(val)<5 ] 

print(a)

['sky', 'sun', 'moon', 'star', 'mars']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to append a dictionary to a tuple</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**The original tuple : (4, 5, 6)**

**Tuple after addition of dictionary : (4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})**

In [30]:
# type your code here
tup = (4, 5, 6)
 
print("The original tuple : " + str(tup))
 

dict1 = {"gfg" : 1, "is" : 2, "best" : 3}
 

tup = list(tup)
tup.append(dict1)
tup = tuple(tup)
 

print("Tuple after addition of Dictionary : " + str(tup))

The original tuple : (4, 5, 6)
Tuple after addition of Dictionary : (4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether two strings are anagram or not (take input from user)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint: An anagram of a string is another string that contains same characters, only the order of characters can be different.**

In [22]:
# type your code here
def check(s1, s2):
     
    if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams.")
    else:
        print("The strings aren't anagrams.")        
         
 
s1 ="listen"
s2 ="silent"
check(s1, s2)

The strings are anagrams.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to remove space from keys of the given dictionary (use for loop)  </b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 
                'Fruits 0 3 ': 'Grapes'}**

**(Output) New dictionary :   {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}**

In [29]:
# type your code here
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
fruity = {x.replace(' ', ''): v 
     for x, v in fruity.items()}
  
# printing new dictionary
print (" New dictionary : ",fruity)

 New dictionary :  {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to transpose a matrix using list comprehension</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**matrix=[[1,2],[3,4],[5,6],[7,8]]**<br>
**Output: [[1, 3, 5, 7], [2, 4, 6, 8]]**

In [31]:
# type your code here
m = [[1,2],[3,4],[5,6],[7,8]]
for row in m :
    print(row)
trans = [[m[j][i] for j in range(len(m))] for i in range(len(m[0]))]
print("\n")
for row in trans:
    print(row)

[1, 2]
[3, 4]
[5, 6]
[7, 8]


[1, 3, 5, 7]
[2, 4, 6, 8]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to add the cubes of first 5 positive integers (use while loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
# type your code here
def sumOfSeries(n):
    x = (n * (n + 1)  / 2)
    return (int)(x * x)
  
  
   

n = 5
print(sumOfSeries(n))

225

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to create a 5x3 matrix with values in each row as 1,2, and 3 (use list comprehension)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [41]:
# type your code here
r = int(input("Enter the number of rows:"))
c = int(input("Enter the number of columns:"))
mat = [[int(input()) for x in range (c)] for y in range(r)]

Enter the number of rows:5
Enter the number of columns:3
1
2
3
1
2
3
1
2
3
1
2
3
1
2
3