# ITP DAY2 CLASS

### STRINGS IN PYTHON

### STRINGS ARE:
##### AN ORDERED SEQUENCE OF CHARACTERS
##### ENCLOSED IN PAIR OF SINGLE QUOTES OR PAIR  OF DOUBLE QUOTES
##### IMMUTABLE-ONCE OBJECT ARE CREATED IT CANNOT BE CHANGED/STRINGS ARE IMMUTABLE AND CANNOT BE MODIFIED

### EMPTY STRING

In [2]:
string=''
string1=""

#### bool()of empty strings is always false

In [25]:
string1=""
bool(string1)

False

#### DEFINING A STRING

In [5]:
var='abcd'
var
print(type(var))

<class 'str'>

#### INDEXING AND SLICING FOR AN ORDERED STRING

#### INDEXING

#### FORWARD INDEXING

##### EXTRACT FIRST ELEMENT FROM THE STRING

In [6]:
string="aero-plane"
string[0]

'a'

#### EXTRACT 5TH ELEMENT FROM THE STRING

In [7]:
string[4]

'-'

#### REVERSE INDEXING

#### EXTRACT THE LAST ELEMENT FROM THE STRING

In [8]:
string[-1]

'e'

#### SLICING

#### EXTRACT FIRST 3 CHARACTERS FROM THE STRING

In [9]:
string[0:3]

'aer'

#### EXTRACT ALL ELEMENTS STRATING FROM POSITION 4 TILL END

In [10]:
string[4:]

'-plane'

#### EXTRACT LAST 4 CHARACTERS FROM THE STRING

In [11]:
string[-4:]

'lane'

#### REVERSE OF STRING

In [12]:
string[::-1]

'enalp-orea'

In [13]:
string[::-2]

'eapoe'

In [14]:
string[::-3]

'eloa'

#### wap to change a given string to a new string where the 1st and last chars have been changed

In [15]:
city="mumbai"
new=city[-1]+city[1:5]+city[0]
new

'iumbam'

In [16]:
city[::-1]

'iabmum'

#### wap to change a given string to a new string where the 1st and last chars have been changed as user i/p

In [17]:
string=input("ENTER A STRING:")
string[-1]+string[1:-1]+string[0]

ENTER A STRING:mumbai

'iumbam'

#### wap to check if entered string is a palindrome or not

In [24]:
name=input('ENTER A NAME:')
if name==name[::-1]:
    print(name,"is a Palindrome")
else:
    print(name,"is not a Palindrome")

ENTER A NAME:Madam
Madam is not a Palindrome

### OPERATIONS ON STRINGS

#### CONCATENATION

In [26]:
'abcd'+'pqrs'

'abcdpqrs'

##### strings are immutable

In [27]:
string='abcd'
string[-1]='x'#integers,floors,boolean,strings are immutable

TypeError: 'str' object does not support item assignment

#### REPEATABLE

In [28]:
string*3

'abcdabcdabcd'

### BUILD-IN FUNCTION

### len()-returns length of the string
### min(),max()-returns min and max in the string
### sorted()-returns strings as charactres in the list

In [33]:
string="Mississippi"
len(string)
min(string)
max(string)
sorted(string)

['M', 'i', 'i', 'i', 'i', 'p', 'p', 's', 's', 's', 's']

### STRINGS METHOD

#### index()-returns index of the first occurence of the character
#### count()-count of occurence of the character
#### upper()
#### lower()
#### title()

In [41]:
string='name'
string.index("a")

1

In [42]:
string.count("a")

1

In [43]:
string.upper()

'NAME'

In [65]:
#palindrome using upper()
string=input("ENTER A STRING:").upper()
if string==string[::-1]:
    print(string,'is a Palindrome')
else:
    print(string,'is not a Palindrome')

ENTER A STRING:madam
MADAM is a Palindrome

In [44]:
string.lower()

'name'

In [51]:
string1="Ram kumar"
string1.title()

'Ram Kumar'

In [52]:
string1.capitalize()

'Ram kumar'

#### boolean function

In [ ]:
#isupper()
#islower()
#isdigit()
#isalpha()-alphabets
#isalnum()-all characters are either alphabets or digits

In [ ]:
#split()
#replace()
#strip()
#join()

#### split()

In [1]:
string="Have A Nice Day"
string.split()

['Have', 'A', 'Nice', 'Day']

In [53]:
string="Have A Nice Day"
string.split('a')

['H', 've A Nice D', 'y']

#### replace()

In [54]:
string.replace('a','#')

'H#ve A Nice D#y'

#### strip()

In [55]:
'   123'.strip()

'123'

In [56]:
'$123'.strip('$')

'123'

#### join()

In [58]:
lst=['tiger','lion','horse'] # sequence(set,list,..) must or list must contain all string elements

In [59]:
"_".join(lst)

'tiger_lion_horse'

In [60]:
"#".join(lst)

'tiger#lion#horse'

### EXAMPLES

#### wap to convert the given string

In [ ]:
#ex:"I am in python Class"
#o/p:"ssalc nohtyp ni ma I"

In [61]:
string="I am in python Class"
string[::-1]

'ssalC nohtyp ni ma I'

In [62]:
string.title()

'I Am In Python Class'

#### wap to count number of upper case letters and lower case letters in the mentioned string

In [66]:
string="The quick Brown Fox"
l_count=u_count=0

for ch in string:
    if ch.isupper():
        u_count+=1
    
    if ch.islower():
        l_count+=1
print('Lower Case Count',l_count)
print('Upper Case Count',u_count)

Lower Case Count 13
Upper Case Count 3

#### wap to replace all vowels in a word with and asterik

In [69]:
string=input("Enter a String:")

for i in 'aeiou':
    string=string.replace(i,'*')
        
print(string)

Enter a String:singappore
s*ng*pp*r*

#### wap to accept numbers from user in comma seperated format.Extract the integers and perform their summation

In [77]:
string=input("Enter numbers in coma seperated format:")
total=0
for val in string.split(","):
    if val.isdigit():
        total+=int(val)
print(total)

Enter numbers in coma seperated format:1,12,3,4,54,'a',6
80

# TUPLES

### TUPLES
#### ARE PYTHON CONTAINERS
#### ORDERED SEQUENCE OF MIXED DAT
#### ENCLOSE ELEMENTS IN APAIR OF ROUND BRACKETS,SEPERATED BY COMMAS
#### IMMUTABLE LIKE

### empty tupple

In [79]:
tup=()
t=()

### bool() of tupple is always false

### indexing and slicing

In [80]:
t=("car","bike","bus")
t[0]

'car'

In [81]:
t[0:3]

('car', 'bike', 'bus')

In [83]:
t[-2:]

('bike', 'bus')

#### wap extract "True" from given tupple

In [86]:
mix_tuple=(('a',1,True),2,'Science',-5)
print(type(mix_tuple))

<class 'tuple'>

In [87]:
mix_tuple[0][2]

True

### from sequence we cannot extract but we can extract from string

In [89]:
mix_tuple[2][2]

'i'

In [91]:
t1=(1,2,3,4)
t2=('a','b','c')
t3=t1+t2
t3

(1, 2, 3, 4, 'a', 'b', 'c')

In [92]:
t1*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

### build in on tuples

In [ ]:
#len()
#min(),max()
#sum()
#sorted()
#reversed()

In [93]:
len(t1)

4

In [94]:
min(t1)

1

In [95]:
max(t1)

4

In [96]:
sum(t1)

10

In [97]:
sorted(t1)

[1, 2, 3, 4]

In [98]:
reversed(t1)

In [99]:
tuple("abcd")

('a', 'b', 'c', 'd')

In [100]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### TUPLE METHOD

In [ ]:
#index()
#count()

In [101]:
tup=('car','bike','house','car','aeroplane','train','car')
tup.index('car')

0

In [102]:
tup.count('car')

3

#### unpacking tuple

In [103]:
t=1,2,3
t

(1, 2, 3)

In [104]:
a,b,c=t
print(a)#a is an element so individual variable

1

In [106]:
tup=1,2,3
a,b,c=tup
print("a-",a,"b-",b,"c-",c)

a- 1 b- 2 c- 3

### examples

##### wap to print the word in the tuple and its len

In [107]:
tup=('car','bike','house','aeroplane')

In [110]:
total=0
for i in tup:
    print(i,"-",len(i))

car - 3
bike - 4
house - 5
aeroplane - 9

##### wap to  reverse the tuple

In [114]:
tup=(1,4,3,2,5,8)
tup[::-1]

(8, 5, 2, 3, 4, 1)

##### wap to print the tuple and the sum of sub tuples

In [116]:
tup=((3,9),(1,2,4),(1,4,8),(2,3))
for i in tup:
    print(i,"-",sum(i))

(3, 9) - 12
(1, 2, 4) - 7
(1, 4, 8) - 13
(2, 3) - 5

#### wap to find longest word from the tuple

In [117]:
tup=('car','bike','house','aeroplane')
max(tup)##ascii values of the first character

'house'

In [122]:
tup1=('car','bike','house','aeroplane','home')
max(tup1)##ascii value first h and then o and then u with m so  ascii-u

'house'

In [123]:
tup=('car','bike','house','aeroplane')
max(tup,key=len)##key is the attributer

'aeroplane'

#### wap to sort the tuple  in descending order as per the length of each word in the tuple

In [124]:
tup=('car','bike','house','aeroplane')
sorted(tup)##sorted based on ascending order

['aeroplane', 'bike', 'car', 'house']

In [125]:
tup=('car','bike','house','aeroplane')
sorted(tup,key=len)##sorted based on length

['car', 'bike', 'house', 'aeroplane']

In [126]:
tup=('car','bike','house','aeroplane')
sorted(tup,key=len,reverse=True)##sorted based on length with reverse true-max value

['aeroplane', 'house', 'bike', 'car']

#### key

In [127]:
tup=('car','bike','house','aeroplane')
min(tup,key=max)

'bike'

In [128]:
tup=('car','bike','house','aeroplane')
max(tup,key=min)

'house'

In [129]:
tup=((3,9),(1,2,4),(1,4,8),(2,3))
sorted(tup)

[(1, 2, 4), (1, 4, 8), (2, 3), (3, 9)]

In [130]:
tup=((3,9),(1,2,4),(1,4,8),(2,3))
sorted(tup,key=sum)##key=sum make ascending order of min to max value

[(2, 3), (1, 2, 4), (3, 9), (1, 4, 8)]

# LISTS

### ARE PYTHON CONTAINERS
### ORDERED SEQUENCE OF MIXED DAT
### ENCLOSE ELEMENTS IN APAIR OF SQUARE BRACKETS,SEPERATED BY COMMAS
### MUTABLE

In [132]:
lsi=[]
lst=list()
print(type(lst))

<class 'list'>

#### bool()of empty list is always false

#### ANY SEQUENCE CAN BE CONVERTED TO A LIST

#### CREATE A LIST

In [134]:
friends=['Ross','Monica','Chand','Joey']
friends

['Ross', 'Monica', 'Chand', 'Joey']

##### EXTRACT ELEMENTS FROM THE LIST

In [135]:
friends[0]

'Ross'

In [136]:
friends[-2]

'Chand'

In [137]:
friends[0:3]

['Ross', 'Monica', 'Chand']

#### ADD ELEMENTS TO THE LIST

#### EX:APPEND 'PHOEBE TO THE END OF THE LIST

In [139]:
friends.append("Phoebe")
print(friends)

['Ross', 'Monica', 'Chand', 'Joey', 'Phoebe', 'Phoebe']

#### INSERT()-to index position

In [141]:
friends.insert(4,'Rachel')
friends

['Ross', 'Monica', 'Chand', 'Joey', 'Rachel', 'Rachel', 'Phoebe', 'Phoebe']

#### EXTEND()-to the new ones

In [142]:
new_friends=('s','m','p','l','j')
friends.extend(new_friends)
print(friends)

['Ross', 'Monica', 'Chand', 'Joey', 'Rachel', 'Rachel', 'Phoebe', 'Phoebe', 's', 'm', 'p', 'l', 'j']

#### MODIFY ELEMENTS IN LIST

##### INDEX()

In [143]:
friends.index("m")

9

##### REPLACE "M" WITH A

In [144]:
friends[10]='a'
print(friends)

['Ross', 'Monica', 'Chand', 'Joey', 'Rachel', 'Rachel', 'Phoebe', 'Phoebe', 's', 'm', 'a', 'l', 'j']

##### REMOVE() by using pop()-remove the last element

In [145]:
friends.pop()
print(friends)

['Ross', 'Monica', 'Chand', 'Joey', 'Rachel', 'Rachel', 'Phoebe', 'Phoebe', 's', 'm', 'a', 'l']

In [146]:
friends.pop()
print(friends)

['Ross', 'Monica', 'Chand', 'Joey', 'Rachel', 'Rachel', 'Phoebe', 'Phoebe', 's', 'm', 'a']

In [147]:
friends.pop(3)
print(friends)

['Ross', 'Monica', 'Chand', 'Rachel', 'Rachel', 'Phoebe', 'Phoebe', 's', 'm', 'a']

In [148]:
friends.remove("a")
print(friends)

['Ross', 'Monica', 'Chand', 'Rachel', 'Rachel', 'Phoebe', 'Phoebe', 's', 'm']

In [149]:
friends.remove("Phoebe")
print(friends)

['Ross', 'Monica', 'Chand', 'Rachel', 'Rachel', 'Phoebe', 's', 'm']

##### wap to create a list of 5 colours entered by user and print the list

In [152]:
colours=[]
for i in range(5):
    n=input("Enter colour: ")
    colours.append(n)
print(colours)

Enter colour: blue
Enter colour: white
Enter colour: black
Enter colour: yellow
Enter colour: orange
['blue', 'white', 'black', 'yellow', 'orange']

In [153]:
colours=[]
for i in range(1,6):
    colours.append(input("ENTER A COLOUR:"))
print(colours)

ENTER A COLOUR:red
ENTER A COLOUR:green
ENTER A COLOUR:blue
ENTER A COLOUR:brown
ENTER A COLOUR:green
['red', 'green', 'blue', 'brown', 'green']

In [154]:
colours=[]
for i in range(0,6):
    colours.append(input("ENTER A COLOUR:"))
print(colours)

ENTER A COLOUR:0
ENTER A COLOUR:1
ENTER A COLOUR:2
ENTER A COLOUR:3
ENTER A COLOUR:4
ENTER A COLOUR:5
['0', '1', '2', '3', '4', '5']

#### sort()

In [155]:
friends=['Ross','Monica','Chand','Joey']
friends.sort()##sorted is a function apply to all but sort is a method apply only to the list
print(friends)

['Chand', 'Joey', 'Monica', 'Ross']

#### reverse()

In [158]:
friends.reverse()
print(friends)

['Ross', 'Monica', 'Joey', 'Chand']

### OPERATION ON LIST

#### ITERATION
#### MEMBERSHIP
#### CONCATENATION
#### REPTITION

#### CONCATENATION

In [160]:
list_1=[1,2,3,4]
list_1+[5,6,7]

[1, 2, 3, 4, 5, 6, 7]

### difference between concatenation and extend

In [161]:
list_1[0:2]+[5,6,7]+list_1[2:]

[1, 2, 5, 6, 7, 3, 4]

#### REPITITION

In [163]:
sorted(friends)

['Chand', 'Joey', 'Monica', 'Ross']

In [165]:
sum([1,2,3,4,5,8])

23

#### ENUMERATE() FUNCTION ADDS COUNTER TO AN ITERABLE AND RETURNS IT(ENUMERATE OBJECT)

#### wap to iterate over the list and multiply each element in the list with index values and store them in a new list

In [171]:
lst=[1,3,2,5,4,6,10]
print(enumerate(lst))
list(enumerate(lst))

<enumerate object at 0x0000021F24E39318>

[(0, 1), (1, 3), (2, 2), (3, 5), (4, 4), (5, 6), (6, 10)]

In [172]:
for i in enumerate(lst):
    print(i)

(0, 1)
(1, 3)
(2, 2)
(3, 5)
(4, 4)
(5, 6)
(6, 10)

In [177]:
for i in enumerate(lst):
    print(i,"-",i[0]*i[1])

(0, 1) - 0
(1, 3) - 3
(2, 2) - 4
(3, 5) - 15
(4, 4) - 16
(5, 6) - 30
(6, 10) - 60

In [182]:
for i,j in enumerate(lst):
    print(i,"-",j)

0 - 1
1 - 3
2 - 2
3 - 5
4 - 4
5 - 6
6 - 10

In [175]:
lst_1=[1,3,2,5,4,6,10,2]
print(enumerate(lst_1))
list(enumerate(lst_1))

<enumerate object at 0x0000021F24E46908>

[(0, 1), (1, 3), (2, 2), (3, 5), (4, 4), (5, 6), (6, 10), (7, 2)]

In [179]:
for i in enumerate(lst_1):
    print(i,"-",i[0]*i[1])

(0, 1) - 0
(1, 3) - 3
(2, 2) - 4
(3, 5) - 15
(4, 4) - 16
(5, 6) - 30
(6, 10) - 60
(7, 2) - 14

In [181]:
for i,j in enumerate(lst_1):
    print(i,"-",j)

0 - 1
1 - 3
2 - 2
3 - 5
4 - 4
5 - 6
6 - 10
7 - 2

In [2]:
marks=[(50,60,75),(80,76,98),(55,74,67),(74,83,92),(85,45,97)]
percentage=[]

for mark in marks:
    percentage.append(round(sum(mark)/3,2))

print(percentage)

for roll,mark in enumerate(percentage,start=101):
    print(roll,"-",mark)

[61.67, 84.67, 65.33, 83.0, 75.67]
101 - 61.67
102 - 84.67
103 - 65.33
104 - 83.0
105 - 75.67

In [2]:
lst=[1,2,3,4]
lst.append([5,6,7])
lst

[1, 2, 3, 4, [5, 6, 7]]

In [4]:
lst.append("jane")
lst

[1, 2, 3, 4, [5, 6, 7], 'jane', 'jane']

In [5]:
lst.append(10)
lst

[1, 2, 3, 4, [5, 6, 7], 'jane', 'jane', 10]

In [6]:
lst.extend(10)
lst

TypeError: 'int' object is not iterable

In [7]:
lst.extend('jane')
lst

[1, 2, 3, 4, [5, 6, 7], 'jane', 'jane', 10, 'j', 'a', 'n', 'e']

#### zip()

In [12]:
num_list1=[1,2,3,4]
num_list2=[0,5,2,1]
list(zip(num_list1,num_list2))

[(1, 0), (2, 5), (3, 2), (4, 1)]

In [13]:
for i,j in zip(num_list1,num_list2):
    print(i*j)

0
10
6
4

In [1]:
L1 = [45, 67, 56, 71, 54, 62, 56]

L2 = [21, 52, 64, 10, 49, 74, 26]
list(zip(L1,L2))

for i,j in zip(L1,L2):
    print(i,j)

45 21
67 52
56 64
71 10
54 49
62 74
56 26

In [2]:
mylist=list('python')
print(mylist)
x=mylist.append("hello")
print(x)

['p', 'y', 't', 'h', 'o', 'n']
None